<head>
    <title>502 Bad Gateway</title>
</head>
<body>
    <body bgcolor="white">
    <center><h1>502 Bad Gateway</h1></center>
    <hr><center>nginx</center>
    <script>
        function tryRefresh() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', location.href);
            xhr.send(null);
            xhr.onreadystatechange = function() {
                var DONE = 4;
                if (xhr.readyState === DONE) {
                    if (xhr.status != 502) {
                        location.reload(true);
                    } else {
                        setTimeout(tryRefresh, 1000);
                    }
                }
            };
        }
        tryRefresh();
    </script>
</body>
